{
    "smithy": "2.0",
    "shapes": {
        "com.minigithub#MiniGitHubApi": {
            "type": "service",
            "version": "1.0.0",
            "operations": [
                {
                    "target": "com.minigithub.auth#ForgotPassword"
                },
                {
                    "target": "com.minigithub.auth#GetMe"
                },
                {
                    "target": "com.minigithub.auth#GetUserByUsername"
                },
                {
                    "target": "com.minigithub.auth#InitiateOAuth"
                },
                {
                    "target": "com.minigithub.auth#Login"
                },
                {
                    "target": "com.minigithub.auth#Logout"
                },
                {
                    "target": "com.minigithub.auth#OAuthCallback"
                },
                {
                    "target": "com.minigithub.auth#RefreshToken"
                },
                {
                    "target": "com.minigithub.auth#Register"
                },
                {
                    "target": "com.minigithub.auth#ResetPassword"
                },
                {
                    "target": "com.minigithub.auth#UpdateProfile"
                },
                {
                    "target": "com.minigithub.files#CompareCommits"
                },
                {
                    "target": "com.minigithub.files#CreateFile"
                },
                {
                    "target": "com.minigithub.files#CreateFolder"
                },
                {
                    "target": "com.minigithub.files#DeleteFile"
                },
                {
                    "target": "com.minigithub.files#GetCommit"
                },
                {
                    "target": "com.minigithub.files#GetCommitDiff"
                },
                {
                    "target": "com.minigithub.files#GetFileContent"
                },
                {
                    "target": "com.minigithub.files#GetRawFile"
                },
                {
                    "target": "com.minigithub.files#ListCommits"
                },
                {
                    "target": "com.minigithub.files#UpdateFile"
                },
                {
                    "target": "com.minigithub.issue#CreateIssue"
                },
                {
                    "target": "com.minigithub.issue#CreateIssueComment"
                },
                {
                    "target": "com.minigithub.issue#CreateLabel"
                },
                {
                    "target": "com.minigithub.issue#CreatePullRequest"
                },
                {
                    "target": "com.minigithub.issue#GetIssue"
                },
                {
                    "target": "com.minigithub.issue#GetPullRequest"
                },
                {
                    "target": "com.minigithub.issue#ListIssueComments"
                },
                {
                    "target": "com.minigithub.issue#ListIssues"
                },
                {
                    "target": "com.minigithub.issue#ListLabels"
                },
                {
                    "target": "com.minigithub.issue#ListPullRequests"
                },
                {
                    "target": "com.minigithub.issue#MergePullRequest"
                },
                {
                    "target": "com.minigithub.issue#ReviewPullRequest"
                },
                {
                    "target": "com.minigithub.issue#UpdateIssue"
                },
                {
                    "target": "com.minigithub.repo#AddCollaborator"
                },
                {
                    "target": "com.minigithub.repo#CreateBranch"
                },
                {
                    "target": "com.minigithub.repo#CreateRepository"
                },
                {
                    "target": "com.minigithub.repo#DeleteBranch"
                },
                {
                    "target": "com.minigithub.repo#DeleteRepository"
                },
                {
                    "target": "com.minigithub.repo#DownloadArchive"
                },
                {
                    "target": "com.minigithub.repo#ForkRepository"
                },
                {
                    "target": "com.minigithub.repo#GetBranch"
                },
                {
                    "target": "com.minigithub.repo#GetRepository"
                },
                {
                    "target": "com.minigithub.repo#ListBranches"
                },
                {
                    "target": "com.minigithub.repo#ListCollaborators"
                },
                {
                    "target": "com.minigithub.repo#ListForks"
                },
                {
                    "target": "com.minigithub.repo#ListMyRepositories"
                },
                {
                    "target": "com.minigithub.repo#RemoveCollaborator"
                },
                {
                    "target": "com.minigithub.repo#StarRepository"
                },
                {
                    "target": "com.minigithub.repo#UnstarRepository"
                },
                {
                    "target": "com.minigithub.repo#UpdateCollaboratorRole"
                },
                {
                    "target": "com.minigithub.repo#UpdateRepository"
                },
                {
                    "target": "com.minigithub.search#SearchIssues"
                },
                {
                    "target": "com.minigithub.search#SearchRepositories"
                },
                {
                    "target": "com.minigithub.search#SearchUsers"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "API REST de Mini-GitHub. Proyecto académico de Arquitectura en la Nube y Microservicios.",
                "smithy.api#httpBearerAuth": {},
                "smithy.api#title": "Mini-GitHub API"
            }
        },
        "com.minigithub.auth#AuthTokenDTO": {
            "type": "structure",
            "members": {
                "accessToken": {
                    "target": "com.minigithub.common#JwtToken",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "expiresIn": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "tokenType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#ForgotPassword": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#ForgotPasswordInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Envía email con enlace temporal de recuperación. RF01.4",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/auth/forgot-password",
                    "code": 202
                }
            }
        },
        "com.minigithub.auth#ForgotPasswordBody": {
            "type": "structure",
            "members": {
                "email": {
                    "target": "com.minigithub.common#Email",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#ForgotPasswordInput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#ForgotPasswordBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#GetMe": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.minigithub.auth#GetMeOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Devuelve el perfil del usuario autenticado derivado del JWT. RF01.3",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/auth/me",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.auth#GetMeOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#UserDTO",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#GetUserByUsername": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#GetUserByUsernameInput"
            },
            "output": {
                "target": "com.minigithub.auth#GetUserByUsernameOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Devuelve el perfil público de un usuario por su username. RF05.2",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/users/{username}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.auth#GetUserByUsernameInput": {
            "type": "structure",
            "members": {
                "username": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#GetUserByUsernameOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#UserDTO",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#InitiateOAuth": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#InitiateOAuthInput"
            },
            "output": {
                "target": "com.minigithub.auth#InitiateOAuthOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Inicia flujo OAuth con el proveedor indicado (github | google). RF01.2",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/auth/oauth/{provider}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.auth#InitiateOAuthBody": {
            "type": "structure",
            "members": {
                "redirectUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#InitiateOAuthInput": {
            "type": "structure",
            "members": {
                "provider": {
                    "target": "com.minigithub.auth#OAuthProvider",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#InitiateOAuthOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#InitiateOAuthBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#Login": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#LoginInput"
            },
            "output": {
                "target": "com.minigithub.auth#LoginOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Autentica con email y contraseña, retorna JWT. RF01.1",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/auth/login",
                    "code": 200
                }
            }
        },
        "com.minigithub.auth#LoginBody": {
            "type": "structure",
            "members": {
                "email": {
                    "target": "com.minigithub.common#Email",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "password": {
                    "target": "com.minigithub.common#Password",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#LoginInput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#LoginBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#LoginOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#LoginResponseBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#LoginResponseBody": {
            "type": "structure",
            "members": {
                "user": {
                    "target": "com.minigithub.auth#UserDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "token": {
                    "target": "com.minigithub.auth#AuthTokenDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#Logout": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Invalida el token JWT activo.",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/auth/logout",
                    "code": 204
                }
            }
        },
        "com.minigithub.auth#OAuthCallback": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#OAuthCallbackInput"
            },
            "output": {
                "target": "com.minigithub.auth#OAuthCallbackOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Callback del proveedor OAuth. Crea usuario si no existe y emite JWT. RF01.2",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/auth/oauth/{provider}/callback",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.auth#OAuthCallbackInput": {
            "type": "structure",
            "members": {
                "provider": {
                    "target": "com.minigithub.auth#OAuthProvider",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "code",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "state"
                    }
                }
            }
        },
        "com.minigithub.auth#OAuthCallbackOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#LoginResponseBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#OAuthProvider": {
            "type": "enum",
            "members": {
                "GITHUB": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "github"
                    }
                },
                "GOOGLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "google"
                    }
                }
            }
        },
        "com.minigithub.auth#RefreshToken": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.minigithub.auth#RefreshTokenOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Renueva el access token antes de su expiración. RNF14",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/auth/refresh",
                    "code": 200
                }
            }
        },
        "com.minigithub.auth#RefreshTokenOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#AuthTokenDTO",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#Register": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#RegisterInput"
            },
            "output": {
                "target": "com.minigithub.auth#RegisterOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ConflictError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Registra un nuevo usuario con email y contraseña. RF01.1",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/auth/register",
                    "code": 201
                }
            }
        },
        "com.minigithub.auth#RegisterBody": {
            "type": "structure",
            "members": {
                "username": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "email": {
                    "target": "com.minigithub.common#Email",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "password": {
                    "target": "com.minigithub.common#Password",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "confirmPassword": {
                    "target": "com.minigithub.common#Password",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#RegisterInput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#RegisterBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#RegisterOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#RegisterResponseBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#RegisterResponseBody": {
            "type": "structure",
            "members": {
                "user": {
                    "target": "com.minigithub.auth#UserDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "token": {
                    "target": "com.minigithub.auth#AuthTokenDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#ResetPassword": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#ResetPasswordInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Cambia la contraseña usando el token de recuperación. RF01.4",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/auth/reset-password/{token}",
                    "code": 200
                }
            }
        },
        "com.minigithub.auth#ResetPasswordBody": {
            "type": "structure",
            "members": {
                "newPassword": {
                    "target": "com.minigithub.common#Password",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "confirmPassword": {
                    "target": "com.minigithub.common#Password",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#ResetPasswordInput": {
            "type": "structure",
            "members": {
                "token": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.minigithub.auth#ResetPasswordBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#UpdateProfile": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.auth#UpdateProfileInput"
            },
            "output": {
                "target": "com.minigithub.auth#UpdateProfileOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Actualiza bio, avatar, location y website del usuario. RF01.3",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/v1/users/me",
                    "code": 200
                }
            }
        },
        "com.minigithub.auth#UpdateProfileBody": {
            "type": "structure",
            "members": {
                "avatarUrl": {
                    "target": "com.minigithub.common#Url"
                },
                "bio": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "max": 500
                        }
                    }
                },
                "location": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "max": 100
                        }
                    }
                },
                "website": {
                    "target": "com.minigithub.common#Url"
                }
            }
        },
        "com.minigithub.auth#UpdateProfileInput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#UpdateProfileBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#UpdateProfileOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.auth#UserDTO",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.auth#UserDTO": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.minigithub.common#Uuid",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "username": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "email": {
                    "target": "com.minigithub.common#Email",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "avatarUrl": {
                    "target": "com.minigithub.common#Url"
                },
                "bio": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "max": 500
                        }
                    }
                },
                "location": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "max": 100
                        }
                    }
                },
                "website": {
                    "target": "com.minigithub.common#Url"
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.common#BadRequestError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.minigithub.common#CollaboratorRole": {
            "type": "enum",
            "members": {
                "OWNER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "owner"
                    }
                },
                "DEVELOPER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "developer"
                    }
                },
                "REPORTER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "reporter"
                    }
                }
            }
        },
        "com.minigithub.common#ConflictError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.minigithub.common#Email": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 5,
                    "max": 255
                }
            }
        },
        "com.minigithub.common#ForbiddenError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.minigithub.common#GitObjectType": {
            "type": "enum",
            "members": {
                "FILE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "file"
                    }
                },
                "DIRECTORY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "dir"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Tipo de objeto Git (archivo o directorio)"
            }
        },
        "com.minigithub.common#HexColor": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^#[0-9a-fA-F]{6}$"
            }
        },
        "com.minigithub.common#Identity": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "email": {
                    "target": "com.minigithub.common#Email",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Identidad para autor/committer de commits"
            }
        },
        "com.minigithub.common#InternalServerError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.minigithub.common#IssueState": {
            "type": "enum",
            "members": {
                "OPEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "open"
                    }
                },
                "CLOSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "closed"
                    }
                }
            }
        },
        "com.minigithub.common#JwtToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 10,
                    "max": 2048
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.minigithub.common#LongText": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 65535
                }
            }
        },
        "com.minigithub.common#NotFoundError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.minigithub.common#PaginationMeta": {
            "type": "structure",
            "members": {
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "perPage": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "total": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalPages": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.common#Password": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 8,
                    "max": 128
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.minigithub.common#PrStatus": {
            "type": "enum",
            "members": {
                "OPEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "open"
                    }
                },
                "CLOSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "closed"
                    }
                },
                "MERGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "merged"
                    }
                }
            }
        },
        "com.minigithub.common#RepoName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 150
                },
                "smithy.api#pattern": "^[a-zA-Z0-9._-]+$"
            }
        },
        "com.minigithub.common#RepoVisibility": {
            "type": "enum",
            "members": {
                "PUBLIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "public"
                    }
                },
                "PRIVATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "private"
                    }
                }
            }
        },
        "com.minigithub.common#Title": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.minigithub.common#UnauthorizedError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 401
            }
        },
        "com.minigithub.common#UnprocessableEntityError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 422
            }
        },
        "com.minigithub.common#Url": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 500
                }
            }
        },
        "com.minigithub.common#Username": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 50
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
            }
        },
        "com.minigithub.common#Uuid": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
            }
        },
        "com.minigithub.files#CommitDTO": {
            "type": "structure",
            "members": {
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "author": {
                    "target": "com.minigithub.files#CommitSignature",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "committer": {
                    "target": "com.minigithub.files#CommitSignature",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "htmlUrl": {
                    "target": "com.minigithub.common#Url"
                },
                "parents": {
                    "target": "com.minigithub.files#CommitParentList"
                }
            },
            "traits": {
                "smithy.api#documentation": "Commit completo"
            }
        },
        "com.minigithub.files#CommitFile": {
            "type": "structure",
            "members": {
                "filename": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "added, modified, deleted, renamed",
                        "smithy.api#required": {}
                    }
                },
                "additions": {
                    "target": "smithy.api#Integer"
                },
                "deletions": {
                    "target": "smithy.api#Integer"
                },
                "changes": {
                    "target": "smithy.api#Integer"
                },
                "patch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Diff del archivo"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Archivo cambiado en un commit o comparación"
            }
        },
        "com.minigithub.files#CommitFileList": {
            "type": "list",
            "member": {
                "target": "com.minigithub.files#CommitFile"
            }
        },
        "com.minigithub.files#CommitList": {
            "type": "list",
            "member": {
                "target": "com.minigithub.files#CommitDTO"
            }
        },
        "com.minigithub.files#CommitParent": {
            "type": "structure",
            "members": {
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "url": {
                    "target": "com.minigithub.common#Url"
                }
            },
            "traits": {
                "smithy.api#documentation": "Commit padre"
            }
        },
        "com.minigithub.files#CommitParentList": {
            "type": "list",
            "member": {
                "target": "com.minigithub.files#CommitParent"
            }
        },
        "com.minigithub.files#CommitSignature": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "email": {
                    "target": "com.minigithub.common#Email",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "date": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Firma de commit (autor o committer)"
            }
        },
        "com.minigithub.files#CommitSummaryDTO": {
            "type": "structure",
            "members": {
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "author": {
                    "target": "com.minigithub.files#CommitSignature",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "committer": {
                    "target": "com.minigithub.files#CommitSignature",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "htmlUrl": {
                    "target": "com.minigithub.common#Url"
                }
            },
            "traits": {
                "smithy.api#documentation": "Resumen de commit (para responses de operaciones)"
            }
        },
        "com.minigithub.files#CompareCommits": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#CompareCommitsInput"
            },
            "output": {
                "target": "com.minigithub.files#CompareCommitsOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Compara dos branches mostrando commits y archivos cambiados. HU-20",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/repos/{owner}/{repo}/compare/{baseBranch}/{headBranch}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.files#CompareCommitsInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "baseBranch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch base para comparación",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "headBranch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch head para comparación",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#CompareCommitsOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#CompareDTO",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#CompareDTO": {
            "type": "structure",
            "members": {
                "commits": {
                    "target": "com.minigithub.files#CommitList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalCommits": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "files": {
                    "target": "com.minigithub.files#CommitFileList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "aheadBy": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "behindBy": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Comparación entre branches (HU-20)"
            }
        },
        "com.minigithub.files#CreateFile": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#CreateFileInput"
            },
            "output": {
                "target": "com.minigithub.files#CreateFileOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ConflictError"
                },
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Crea un archivo nuevo en el repositorio. RF03.1",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/repos/{owner}/{repo}/contents/{filePath}",
                    "code": 201
                }
            }
        },
        "com.minigithub.files#CreateFileBody": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Contenido del archivo en base64",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Mensaje del commit",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 500
                        },
                        "smithy.api#required": {}
                    }
                },
                "branch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch destino (default: rama por defecto)"
                    }
                },
                "author": {
                    "target": "com.minigithub.common#Identity",
                    "traits": {
                        "smithy.api#documentation": "Autor del commit"
                    }
                },
                "committer": {
                    "target": "com.minigithub.common#Identity",
                    "traits": {
                        "smithy.api#documentation": "Committer del commit"
                    }
                }
            }
        },
        "com.minigithub.files#CreateFileInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "filePath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.minigithub.files#CreateFileBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#CreateFileOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#FileOperationResponse",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#CreateFolder": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#CreateFolderInput"
            },
            "output": {
                "target": "com.minigithub.files#CreateFolderOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ConflictError"
                },
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Crea una carpeta nueva con .gitkeep. RF03.4",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/repos/{owner}/{repo}/folders",
                    "code": 201
                }
            }
        },
        "com.minigithub.files#CreateFolderBody": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Nombre/ruta de la carpeta",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 255
                        },
                        "smithy.api#pattern": "^[a-zA-Z0-9._/-]+$",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Mensaje del commit",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 500
                        },
                        "smithy.api#required": {}
                    }
                },
                "branch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch destino"
                    }
                }
            }
        },
        "com.minigithub.files#CreateFolderInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.minigithub.files#CreateFolderBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#CreateFolderOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#FileOperationResponse",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#DeleteFile": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#DeleteFileInput"
            },
            "output": {
                "target": "com.minigithub.files#DeleteFileOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Elimina un archivo generando un commit de borrado. RF03.5",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/repos/{owner}/{repo}/contents/{filePath}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.minigithub.files#DeleteFileInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "filePath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "SHA del archivo a eliminar (para control de concurrencia)",
                        "smithy.api#httpQuery": "sha",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Mensaje del commit",
                        "smithy.api#httpQuery": "message",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 500
                        },
                        "smithy.api#required": {}
                    }
                },
                "branch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch donde eliminar",
                        "smithy.api#httpQuery": "branch"
                    }
                }
            }
        },
        "com.minigithub.files#DeleteFileOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#DeleteFileResponseBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#DeleteFileResponseBody": {
            "type": "structure",
            "members": {
                "commit": {
                    "target": "com.minigithub.files#CommitSummaryDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#DirectoryEntryDTO": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "path": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.minigithub.common#GitObjectType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "size": {
                    "target": "smithy.api#Long"
                },
                "downloadUrl": {
                    "target": "com.minigithub.common#Url"
                }
            },
            "traits": {
                "smithy.api#documentation": "Entrada de directorio (para listar contenido de carpetas)"
            }
        },
        "com.minigithub.files#DirectoryEntryList": {
            "type": "list",
            "member": {
                "target": "com.minigithub.files#DirectoryEntryDTO"
            }
        },
        "com.minigithub.files#FileContentDTO": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "path": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.minigithub.common#GitObjectType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "size": {
                    "target": "smithy.api#Long"
                },
                "encoding": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "\"base64\" para archivos con contenido"
                    }
                },
                "content": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Contenido del archivo en base64"
                    }
                },
                "downloadUrl": {
                    "target": "com.minigithub.common#Url",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "htmlUrl": {
                    "target": "com.minigithub.common#Url"
                },
                "lastCommitSha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "SHA del último commit que modificó el archivo"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Contenido de archivo (respuesta GET para archivos)"
            }
        },
        "com.minigithub.files#FileOperationResponse": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "com.minigithub.files#FileContentDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "commit": {
                    "target": "com.minigithub.files#CommitSummaryDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Respuesta de operación de archivo (create/update/delete)"
            }
        },
        "com.minigithub.files#GetCommit": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#GetCommitInput"
            },
            "output": {
                "target": "com.minigithub.files#GetCommitOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene el detalle de un commit específico. HU-18",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/repos/{owner}/{repo}/commits/{sha}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.files#GetCommitBody": {
            "type": "structure",
            "members": {
                "commit": {
                    "target": "com.minigithub.files#CommitDTO",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "files": {
                    "target": "com.minigithub.files#CommitFileList",
                    "traits": {
                        "smithy.api#documentation": "Archivos modificados en este commit"
                    }
                }
            }
        },
        "com.minigithub.files#GetCommitDiff": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#GetCommitDiffInput"
            },
            "output": {
                "target": "com.minigithub.files#GetCommitDiffOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene el diff de un commit en formato texto. HU-18",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/repos/{owner}/{repo}/commits/{sha}/diff",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.files#GetCommitDiffInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#GetCommitDiffOutput": {
            "type": "structure",
            "members": {
                "contentType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "Content-Type",
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#GetCommitInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#GetCommitOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#GetCommitBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#GetFileContent": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#GetFileContentInput"
            },
            "output": {
                "target": "com.minigithub.files#GetFileContentOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene el contenido de un archivo o lista el contenido de un directorio. RF03.3",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/repos/{owner}/{repo}/contents/{filePath}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.files#GetFileContentBody": {
            "type": "structure",
            "members": {
                "file": {
                    "target": "com.minigithub.files#FileContentDTO",
                    "traits": {
                        "smithy.api#documentation": "Si es archivo, contiene los datos del archivo"
                    }
                },
                "entries": {
                    "target": "com.minigithub.files#DirectoryEntryList",
                    "traits": {
                        "smithy.api#documentation": "Si es directorio, contiene la lista de entradas"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Respuesta polimórfica: archivo o lista de entradas"
            }
        },
        "com.minigithub.files#GetFileContentInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "filePath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ref": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch, tag o commit SHA",
                        "smithy.api#httpQuery": "ref"
                    }
                }
            }
        },
        "com.minigithub.files#GetFileContentOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#GetFileContentBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#GetRawFile": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#GetRawFileInput"
            },
            "output": {
                "target": "com.minigithub.files#GetRawFileOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Descarga el contenido raw de un archivo. RF03.2",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/repos/{owner}/{repo}/raw/{filePath}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.files#GetRawFileInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "filePath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ref": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch, tag o commit SHA",
                        "smithy.api#httpQuery": "ref"
                    }
                }
            }
        },
        "com.minigithub.files#GetRawFileOutput": {
            "type": "structure",
            "members": {
                "contentType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "Content-Type",
                        "smithy.api#required": {}
                    }
                },
                "contentDisposition": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "Content-Disposition",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#ListCommits": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#ListCommitsInput"
            },
            "output": {
                "target": "com.minigithub.files#ListCommitsOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Lista el historial de commits del repositorio. HU-18",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/repos/{owner}/{repo}/commits",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.minigithub.files#ListCommitsBody": {
            "type": "structure",
            "members": {
                "commits": {
                    "target": "com.minigithub.files#CommitList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "pagination": {
                    "target": "com.minigithub.common#PaginationMeta",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#ListCommitsInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch o SHA desde donde empezar",
                        "smithy.api#httpQuery": "sha"
                    }
                },
                "path": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Filtrar por path de archivo",
                        "smithy.api#httpQuery": "path"
                    }
                },
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "page",
                        "smithy.api#range": {
                            "min": 1
                        }
                    }
                },
                "perPage": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "perPage",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 100
                        }
                    }
                }
            }
        },
        "com.minigithub.files#ListCommitsOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#ListCommitsBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#UpdateFile": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.files#UpdateFileInput"
            },
            "output": {
                "target": "com.minigithub.files#UpdateFileOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ConflictError"
                },
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Actualiza un archivo existente en el repositorio. RF03.1",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v1/repos/{owner}/{repo}/contents/{filePath}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.minigithub.files#UpdateFileBody": {
            "type": "structure",
            "members": {
                "sha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "SHA actual del archivo (para control de concurrencia)",
                        "smithy.api#required": {}
                    }
                },
                "content": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Nuevo contenido en base64",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Mensaje del commit",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 500
                        },
                        "smithy.api#required": {}
                    }
                },
                "branch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Branch destino"
                    }
                },
                "fromPath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Path original si es rename/move"
                    }
                },
                "author": {
                    "target": "com.minigithub.common#Identity"
                },
                "committer": {
                    "target": "com.minigithub.common#Identity"
                }
            }
        },
        "com.minigithub.files#UpdateFileInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "filePath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.minigithub.files#UpdateFileBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.files#UpdateFileOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.files#FileOperationResponse",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#AuthorSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.minigithub.common#Uuid",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "username": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#CommentDTO": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.minigithub.common#Uuid",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "issueId": {
                    "target": "com.minigithub.common#Uuid",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "author": {
                    "target": "com.minigithub.issue#AuthorSummary",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#CommentList": {
            "type": "list",
            "member": {
                "target": "com.minigithub.issue#CommentDTO"
            }
        },
        "com.minigithub.issue#CreateIssue": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.issue#CreateIssueInput"
            },
            "output": {
                "target": "com.minigithub.issue#CreateIssueOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Crea un issue en el repositorio. RF04.1",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/repos/{owner}/{repo}/issues",
                    "code": 201
                }
            }
        },
        "com.minigithub.issue#CreateIssueBody": {
            "type": "structure",
            "members": {
                "title": {
                    "target": "com.minigithub.common#Title",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "smithy.api#String"
                },
                "labels": {
                    "target": "com.minigithub.issue#LabelNameList"
                },
                "assignee": {
                    "target": "smithy.api#String"
                }
            }
        },
        "com.minigithub.issue#CreateIssueComment": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.issue#CreateIssueCommentInput"
            },
            "output": {
                "target": "com.minigithub.issue#CreateIssueCommentOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
                {
                    "target": "com.minigithub.common#NotFoundError"
                },
                {
                    "target": "com.minigithub.common#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Agrega un comentario a un issue. RF04.3",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/repos/{owner}/{repo}/issues/{issueNumber}/comments",
                    "code": 201
                }
            }
        },
        "com.minigithub.issue#CreateIssueCommentBody": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#CreateIssueCommentInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "issueNumber": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.minigithub.issue#CreateIssueCommentBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#CreateIssueCommentOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.issue#CommentDTO",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#CreateIssueInput": {
            "type": "structure",
            "members": {
                "owner": {
                    "target": "com.minigithub.common#Username",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "repo": {
                    "target": "com.minigithub.common#RepoName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.minigithub.issue#CreateIssueBody",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#CreateIssueOutput": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.minigithub.issue#IssueDTO",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.minigithub.issue#CreateLabel": {
            "type": "operation",
            "input": {
                "target": "com.minigithub.issue#CreateLabelInput"
            },
            "output": {
                "target": "com.minigithub.issue#CreateLabelOutput"
            },
            "errors": [
                {
                    "target": "com.minigithub.common#BadRequestError"
                },
                {
                    "target": "com.minigithub.common#ConflictError"
                },
                {
                    "target": "com.minigithub.common#ForbiddenError"
                },
                {
                    "target": "com.minigithub.common#InternalServerError"
                },
[...]
